In [1]:
import pandas as pd

# Subsetting
We want to subset and aggregate already in pandas so be able to use the proper tables in Tableau

In [2]:
berlin_pol_sta=pd.read_pickle("berlin_pol_sta.pkl")
berlin_pol_sta.head()

,date,CO,NO_2,NOx,O_3,PM10,SO_2,NO,Code,station,type,nördliche Breite,östliche Länge
0,2017-01-01 00:00:00,NaN,28.0,34.0,31.0,43.0,NaN,4.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
1,2017-01-01 01:00:00,NaN,48.0,76.0,8.0,185.0,NaN,19.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
2,2017-01-01 02:00:00,NaN,37.0,45.0,19.0,104.0,NaN,6.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
3,2017-01-01 03:00:00,NaN,NaN,NaN,22.0,67.0,NaN,NaN,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
4,2017-01-01 04:00:00,NaN,NaN,NaN,32.0,31.0,NaN,NaN,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""

# Create Hourly dataframe

In [3]:
hourly=berlin_pol_sta.copy()
hourly=hourly.assign(hour=hourly["date"].dt.time)
hourly["date"]=hourly["date"].dt.strftime("%Y-%m-%d")
hourly["date"]=pd.to_datetime(hourly["date"],format="%Y-%m-%d")
hourly=hourly[["date","hour","CO","NO_2","NOx","O_3","PM10","SO_2","NO","Code","station","type","nördliche Breite","östliche Länge"]]
hourly.head()

,date,hour,CO,NO_2,NOx,O_3,PM10,SO_2,NO,Code,station,type,nördliche Breite,östliche Länge
0,2017-01-01,00:00:00,NaN,28.0,34.0,31.0,43.0,NaN,4.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
1,2017-01-01,01:00:00,NaN,48.0,76.0,8.0,185.0,NaN,19.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
2,2017-01-01,02:00:00,NaN,37.0,45.0,19.0,104.0,NaN,6.0,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
3,2017-01-01,03:00:00,NaN,NaN,NaN,22.0,67.0,NaN,NaN,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""
4,2017-01-01,04:00:00,NaN,NaN,NaN,32.0,31.0,NaN,NaN,mc010,010 Wedding,Hintergrund,"52° 32' 34,9476""","13° 20' 57,5736"""

In [4]:
hourly.to_csv("hourly_poll_ber.csv")

# Daily dataframe

In [5]:
daily=hourly.copy()

In [6]:
stations=pd.read_pickle("stations.pkl")

In [7]:
daily=daily.groupby(["date","Code"]).mean().reset_index()
daily=daily.merge(stations,on="Code")
daily=daily.sort_values("date").reset_index(drop=True)

In [8]:
daily.to_csv("daily_poll_ber.csv")

# Monthly dataframe

In [9]:
monthly=daily.copy()

In [10]:
monthly["date"]=pd.to_datetime(monthly["date"].dt.to_period("M").astype(str))
monthly=monthly.groupby(["date","Code"]).mean().reset_index()
monthly=monthly.merge(stations,on="Code")
monthly=monthly.sort_values("date").reset_index(drop=True)

In [11]:
monthly.to_csv("monthly_poll_ber.csv")